version: "3.9"

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j-footy-database
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4JLABS_PLUGINS=["apoc"]
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_dbms_security_allow__csv__import__from__file__urls=true
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - graph_neo4j_data:/data #use the old volume
      - ./graph/datasets:/var/lib/neo4j/import
    restart: unless-stopped

  api:
    build: ./api
    container_name: footy-api
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=${NEO4J_URI}
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASS=${NEO4J_PASS}
      - PORT=3000
    ports:
      - "3030:3030"
    volumes:
      - ./api:/app
    restart: unless-stopped

volumes:
  graph_neo4j_data:
    external: true

